extends layout

block content
  h1 Keepers 2016
  p.lead Your TDs Make My Ditka Hard
  hr

  if (keeperMax < 2)
    form.form-horizontal(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-3.control-label(for='name') Name
        .col-sm-7
          input.form-control(type='text', name='name', id='name', placeholder='Player Name')
      .form-group
        label.col-sm-3.control-label(for='round') Round
        .col-sm-7
          input.form-control(type='text', name='round', id='round', placeholder='Round Drafted')
      .form-group
        .col-sm-offset-3.col-sm-4
          button.btn.btn.btn-primary(type='submit')
            i.fa.fa-pencil
            | Submit
  else
    h3 Remove one of your current keepers, to add a new one.

  .row
  for user in users
    .col-sm-6.col-md-4
      h3 #{user.profile.name}
      .thumbnail
        img(src='#{user.profile.picture}', alt='...')
        .caption
        if (user.keepers)
          for keeper in user.keepers
            p  #{keeper.name}
            p
              a.btn.btn-primary(href='/keeper/#{keeper._id}', role='button') Remove